@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --verde: #556B2F;
    --blanco: #F5F5DC;
    --gris: #D3D3D3;
    --marron: #8B4513;
    --naranja: #E27D60;
    --gris-oscuro: #e4e4d7;
}

*{
    font-family: 'Poppins',sans-serif;
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

.boton-presupuesto{
    background-color: var(--verde);
    border-radius: 10px;
    opacity: 89%;
    width: 233px;
    height: 75px;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 15px black ;
    cursor: pointer;
    text-decoration: none;
}

.boton-presupuesto-txt{
    text-align: center;
    color: var(--gris);
    font-size: 16px;
    margin: 0px;
    text-shadow: 2px 2px 0px black;
}

.boton-whatsapp{
    background-color: var(--naranja);
    border-radius: 10px;
    opacity: 89%;
    width: 233px;
    height: 75px;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 15px black ;
    cursor: pointer;
    text-decoration: none;
}

.boton-whatsapp-txt{
    font-size: 16px;
    text-align: center;
    color: var(--gris);
    padding: 0 !important;
}

h1,h2,h3{
    color: var(--blanco) !important;
    text-align: center;
}

h1{
    font-size: 80px !important;
    font-weight: bolder;
}

h2{
    font-size:32px !important;
}
h3{
    font-size:30px;
    font-weight:200 !important;
    font-style: italic;

}

body{
    background: rgb(139,69,19) !important;
    background: linear-gradient(180deg, rgba(139,69,19,1) 0%, rgba(245,245,220,1) 29%, rgba(245,245,220,1) 85%, rgba(85,107,47,0.72) 100%) !important;
    overflow-x: hidden;
}
.container-header{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    height: 100%;
}  

.image-wrapper img{
    border: 3px solid var(--marron);
}

.header-pag{
    padding-bottom: 60px;
    height: 600px;
}

.header-pag::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: 650px;
    background-image: url(./images/fondo_madera.webp); /* O cualquier color o imagen que quieras de fondo */
    background-size: cover;
    background-position: center;
    filter: blur(6px); /* Aplica el desenfoque */
    z-index: -2; /* Asegura que esté detrás del contenido */
}

.servicios-title{
    width: 100%;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 32px;
    font-weight: 600;
    color: var(--marron);
    text-shadow: rgba(0,0,0,0.25) 0px 4px 4px ;
}  

.container-servicio{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.txt-container{
    display:flex;
    flex-direction: column;
    width: 50%;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blue(4px);
    background-color: var(--gris-oscuro);
    border-radius: 4px;
    padding: 50px;
    box-shadow: 0px 0px 15px 5px rgba(133, 133, 133, 0.5);
}


.title-servicio{
    font-size: 22px;
}

.txt-servicio{
    font-size: 16px;
}

.img-servicio{
    height: 300px;
    width: 400px;
    border: 3px solid var(--marron);
    box-shadow: 0px 0px 10px 2px rgba(82, 33, 0, 0.5);
}

.img-servicio img{
    width: 100%;
    height: 100%;
}

.container-botones{
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.nav-link{
    color: var(--blanco) !important;
}

.footer{
    height: 300px;
    background-color: var(--verde);
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
}

.footer__box{
    display:flex;
    flex-direction: column;
    text-align: left; 
    width: 20%;
}

.footer__title{
    font-size: 20px;
    color: var(--gris);
}

.footer__txt{
    display:flex;
    flex-direction: column;
    gap: 20px;
    color: black;
}

.footer__desc{
    font-size: 14px;
    color: #000000 !important;
    text-decoration: underline;
    cursor: pointer;
}

.menu__footer{
    overflow-wrap: break-word;
    width: 70px;
}


@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.popup-body{
    animation: fadeIn 0.5s ease-in-out;
    background-color: var(--naranja);
    color: var(--gris);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    width: 400px;
}

.popup__title{
    font-size: 32px !important;
    font-weight: 800;
    margin: 20px;
}
.popup__phone_container{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.popup__phone_number{
    font-size: 30px;
    font-weight: 800;
    color: var(--gris);
}

.popup__botones{
    display:flex;
    flex-direction: column;
    margin: 20px;
}

.boton{
    margin-bottom: 20px;
}

.logo{
    border-radius: 10px !important;
}

.page__galeria{
    width: 100vw;
    background-color: linear-gradient(180deg, rgba(139,69,19,1) 0%, rgba(245,245,220,1) 29%, rgba(245,245,220,1) 85%, rgba(85,107,47,0.72) 100%) !important;
  
}

.imagen__galeria{
    width: 500px;
    height: 400px;
    margin: 10px;
    border: 3px solid var(--marron);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imagen__galeria img{
    width: 100%;
    height: 100%;
}

.galeria__fotos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.social-media{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    color: white;
    cursor: pointer;
    margin: 0 20px;
}

.navbar-custom{
    margin:20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-links{
    display:flex;
    flex-direction: row;
    gap: 20px;
}

.navbar-links a{
    text-decoration: none !important;
    text-transform: uppercase !important;
    color: var(--blanco) !important;
}



.navbar-logo img{
    border-radius: 50%;
}

.__title, .__desc{
    text-shadow: 4px 4px 5px #0005;
}

.__desc{
    text-align: center !important;
    margin: 0 auto !important;
    color: var(--blanco);
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    padding-top: 50px;
    width: 80%;
}

.header__desc{
    padding-top: 0 !important;
}

.whatsapp-btn{
    color: rgb(41, 220, 41);
}

.facebook-btn{
    color: rgb(32, 87, 240);
}

.instagram-btn{
    color: rgb(216, 4, 75);
}